.cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.cartItem {
  width: 300px;
  height: 150px;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 15px rgb(0 0 0 / 20%);
  border-radius: 25px;
  margin: 10px;
}

.cartItem img {
  width: auto;
  height: 100%;
}

.cartItem .description {
  width: 100%;
  font-size: 15px;  
}

.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
}

.checkout button {
  width: 150px;
  height: 50px;
  color: #2a2438;  
  background: #ee9ca7; 
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .cartItem {
    width: 100%;
    height: auto;
    margin: 10px 0;
    padding: 10px;
  }

  .cartItem img {
    width: 70px;
    margin-right: 10px;
  }

  .cartItem .description {
    font-size: 14px;
  }

  .countHandler input {
    width: 30px;
  }

  .checkout button {
    width: 100%;
    height: 40px;
    font-size: 14px;
  }
}