.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #ee9ca7 50%, #ffdde1 50%);
}

.content {
    position: absolute;
    max-width: 45%;
    top: 20%;
    left: 5%;
}

.content h2 {
    color: #fcfefe;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content p {
    font-size: 22px;
}

.imgPrincipal {
    position: absolute;
    left: 55%;
    height: auto;
    max-width: 40%;
    top: 50%;
    transform: translateY(-50%);
}

@media only screen and (max-width: 768px) {
    .container {
        justify-content: center;
        position: relative;
    }

    .content-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .content {
        max-width: 100%;
        text-align: center;
        top: 3%;
    }

    .content h2 {
        font-size: 2em;
        margin: 0;
    }

    .content p{
        font-size: 1.5rem;
    }

    .imgPrincipal {
        max-width: 50%;
        height: auto;
        transform: translate(-50%, -50%);
        margin-top: 10%;
    }
}