.aboutContainer {
  text-align: center;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topContent {
  width: 40%;
  text-align: center;
  margin-bottom: 20px;
}

.topContent p {
  font-size: 18px;
}

.divider {
  width: 10%;
  height: 1px;
  background-color: #922724;
  margin: 20px auto;
}

.bottomContent {
  width: 70%;
  display: flex;
  justify-content: center;
}

.centeredContent {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  height: 50vh;
  width: 100%;
}

.leftDiv h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.leftDiv p{
  text-align: center;
  margin-bottom: 10px;
}

.leftDiv button {
  background-color: transparent;
  border: 2px solid #ffffff;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.rightInfo {
  flex: 2;
  text-align: right;
}

.leftDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  justify-content: center;
}

.imageContainer {
  flex: 1 1;
  position: relative;
  display: flex;
  max-width: 50%;
}

.circleImage {
  width: 70%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
}

.circleImageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%; 
  border-radius: 50%; 
  object-fit: cover;
  transform: translateX(50%);
  border: 3px solid white; 
}