.container {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../assets/bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    width: 60%;
    z-index: 1;
}

.content h2 {
    color: #f4e4ca;
    font-size: 75px;
    margin: 0;
    letter-spacing: 5px;
}

.content p {
    color: #f4e4ca;
    font-size: 18px;
    margin: 0;
    letter-spacing: 2px;
}

.button {
    background: transparent;
    border: 2px solid #f4e4ca;
    color: #f4e4ca;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
    transition: background-image 0.3s;
    padding: 10px 45px;
    text-decoration: none;
}

.button:hover {
    background: #f4e4ca;
    color: #000000;
    transition: background-color 0.3s;
}


@media only screen and (max-width: 768px) {
    .container {
        justify-content: center;
        position: relative;
    }

    .content-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .content {
        max-width: 100%;
        text-align: center;
        top: 3%;
    }

    .content h2 {
        text-align: start;
        margin: 0;
    }

    .content p {
        text-align: start;
    }

    .imgPrincipal {
        max-width: 50%;
        height: auto;
        transform: translate(-50%, -50%);
        margin-top: 10%;
    }
}

@media only screen and (max-width: 900px) {
    .container {
        justify-content: center;
        height: auto;
    }

    .content-wrapper {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
        text-align: center;
    }

    .content {
        max-width: 50%;
        margin: 0 auto;
    }

    .imgPrincipal {
        left: 70%;
        margin: 0;
    }
}

@media only screen and (max-width: 600px) {
    .content {
        max-width: 100%;
    }

    .imgPrincipal {
        max-width: 370px;
        left: 50%;
        top: 65%;
        margin: 0;
    }
}

@media only screen and (max-width: 320px) {
    .content p {
        display: none;
    }

}