@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.container {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    background-image: url(../../assets/bg4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    justify-content: center;
}

.content {
    display: flex;
    max-width: 70%;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
}

.content h2 {
    color: #e6fafb;
    font-size: 75px;
    margin: 0;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 10px;
}

.button {
    background: transparent;
    border: 2px solid #e6fafb;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
    transition: background-image 0.3s;
    padding: 10px 45px;
    color: #e6fafb;
    text-decoration: none;
}

.button:hover {
    background: #000000;
    transition: background-color 0.3s;
}


@media only screen and (max-width: 768px) {
    .container {
        justify-content: center;
        position: relative;
    }

    .content-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .content {
        max-width: 100%;
        text-align: center;
        top: 3%;
    }

    .content h2 {
        text-align: start;
        margin: 0;
    }

    .content p {
        text-align: start;
    }

    .imgPrincipal {
        max-width: 50%;
        height: auto;
        transform: translate(-50%, -50%);
        margin-top: 10%;
    }
}

@media only screen and (max-width: 900px) {
    .container {
        justify-content: center;
        height: auto;
    }

    .content-wrapper {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
        text-align: center;
    }

    .content {
        max-width: 50%;
        margin: 0 auto;
    }

    .imgPrincipal {
        left: 70%;
        margin: 0;
    }
}

@media only screen and (max-width: 600px) {
    .content {
        max-width: 100%;
    }

    .imgPrincipal {
        max-width: 370px;
        left: 50%;
        top: 65%;
        margin: 0;
    }
}

@media only screen and (max-width: 320px) {
    .content p {
        display: none;
    }

}