.container{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;   
    background-color: #dbd8e3;    
}

.footerText {
    text-align: center;
    margin-top: 20px;
    color: #2a2438;
}