.shopTitle {
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
}

.container {
    margin: 2rem;
}

.products {
    display: grid;
    grid-template-columns: repeat(5, 180px);
    justify-content: center;
    align-content: center;
    grid-gap: 10px;
}

.product {
    padding: 10px;
    width: 150px;
    min-height: 225px;
    border-radius: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 20%);
}

.product img {
    width: auto;
    height: 140px;
}

.product .description {
    text-align: center;
}

.product:hover {
    transition: 0.3s ease-in;
}

.addToCartBttn {
    background: #ee9ca7;
    min-width: 100px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: #2a2438;
    box-sizing: border-box;
    transition: 0.1s;
}

.addToCartBttn:hover {
    outline: none;
    box-shadow: 0 0 0 3px #f0ece2, 0 0 0 4px #f0ece2;
}

.pagination {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.pagination button {
    cursor: pointer;
    margin: 1px;
    min-width: 30px;
}

button.active {
    background-color: #ee9ca7;
    color: #2a2438;
}

@media only screen and (max-width: 900px) {
    .products {
        grid-template-columns: repeat(4, 180px);
    }
}

@media only screen and (max-width: 768px) {
    .shopTitle {
        font-size: 30px;
    }

    .product {
        margin-top: 15px;
        height: auto;
    }

    .products {
        grid-template-columns: repeat(2, 180px);
    }
}

@media only screen and (max-width: 480px) {
    .shopTitle {
        font-size: 24px;
    }

    .product img {
        margin-top: 10px;
    }

    .addToCartBttn {
        min-width: 80px;
        font-size: 12px;
    }

    .pagination {
        margin-top: 1rem;
        flex-direction: column;
        align-items: center;
    }

    .pagination button {
        margin: 5px;
        min-width: 80px;
        font-size: 12px;
    }
}