.shopTitle {
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
}

.products {
    display: grid;
    grid-template-columns: repeat(5, 220px);
    justify-content: center;
    align-content: center;
    grid-gap: 10px;
}

.product {
    padding-bottom: 10px;
    min-height: 225px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.product img {
    width: 100%;
    height: 290px;
}

.product .description {
    text-align: center;
}

.product:hover {
    transition: 0.3s ease-in;
}

.addToCartBttn {
    background-color: transparent;
    border: 2px solid #970d0a;
    color: #970d0a;
    border-radius: 5px;
    min-width: 100px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    box-sizing: border-box;
}

.pagination {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.pagination button {
    cursor: pointer;
    margin: 1px;
    min-width: 30px;
}

button.active {
    background-color: #970d0a;
    color: #ffffff;
}

@media only screen and (max-width: 900px) {
    .products {
        grid-template-columns: repeat(4, 180px);
    }
}

@media only screen and (max-width: 768px) {
    .shopTitle {
        font-size: 30px;
    }

    .product {
        margin-top: 15px;
        height: auto;
    }

    .products {
        grid-template-columns: repeat(2, 180px);
    }
}

@media only screen and (max-width: 480px) {
    .shopTitle {
        font-size: 24px;
    }

    .product img {
        margin-top: 10px;
    }

    .addToCartBttn {
        min-width: 80px;
        font-size: 12px;
    }

    .pagination {
        margin-top: 1rem;
        flex-direction: column;
        align-items: center;
    }

    .pagination button {
        margin: 5px;
        min-width: 80px;
        font-size: 12px;
    }
}