.App {
  width: 100%;
  height: auto;
  min-height: 100vh;
  text-align: center; 
  background: #faf9e7
  ;
}

html{
  position: relative;
  scroll-behavior: smooth;
}


body {
  padding: 0;
  margin: 0; 
}

.mainContainer {
  margin-bottom: 8%;
}

@media only screen and (max-width: 768px) {
  .mainContainer {
      margin-bottom: 15%;
  }
}